# Logs
*.log

# Temporary files
*.tmp
*.swp

# OS file
.DS_Store
Thumbs.db

# VS code
.vscode/

# JetBrains
.idea/

# Environment
.env

# Build artifacts
build/
dist/

# ROS
log/
install/
dist/

# python cache
__pycache__/

# Shell history
.history
